<div class="admin-container" >
  <div class="side-nav-container" >
    <ul>
           <li><a href="/list">All Products</a></li> 
           <li><a href="/productsAdd">Product Add</a></li>
           <li><a href="/productsadd">Product Edit & Delete</a></li>
    </ul>
  </div>
  <div class="admin-right-container">
    <div class="admin-img-container">
        <img src="admin.jpg">
            <div class="text-box">
                <h3>Welcome Administrator </h3>
                <p>{{user.name}}</p>
            </div>
    </div>
  </div>
</div>
