
  <div class="userBoard-container">
    <div class="user-right-container">
      <div class="userDashboard-img-container">
      <img src="well.jpg">
      <div class="text-box">
      <h3>Welcome</h3>
      <p>{{user.name}}</p>
      </div>
    </div>
    </div>
  </div>
