
ul {
  list-style-type: none;
  margin: 5px, 20px;
  padding: 15px, 15px;
  overflow: hidden;
  background-color: #333;
  left:20;
  right:40;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  font-family: arial;
  text-align: center;
  padding: 15px 15px;
  font-size: 18px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.topnav-right a {
  padding: 15px 60px;
   float: right;
   font-size: 18px;
  }

footer {
  font-family: arial;
  padding: 5px 5px;
  background-color: #333;
  text-align: center;
  color: white;
  font-size: 18px;
}
* {box-sizing: border-box}

p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color : #84bad3ff;
}
h5{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: center;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 280px;
      margin: auto;
      font-family: arial;
      background-color: white;
      display: inline-block;
      transition: 0.3s;
    }
    .card:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    a {
      text-decoration: none;
      font-size: 15px;
      color: black;
    }
    
    button:hover, a:hover {
      opacity: 0.7;
    }

    .banner img{
      width: 40%;
    }

    .container1 {
      padding: 10px 20px 20px 20px;
      background-color:#FFE9EC;
      display : center;
      height: auto;
    }

.sidenav3 {
width: 150px;
z-index: 1;
top: 20px;
left: 10px;
background: #333;
overflow-x: hidden;
padding: 5px 0;
}


.container3{
 padding: 0px 0px 0px 150px;
background-color:#FFE9EC;
display : block;
}
.sideContainer{
 background-color:#FFE9EC;
}
.sidenav3 a {
text-decoration: none;
font-size: 15px;
color: white;
display: block;
font-family: arial;
}

.sidenav3 a:hover {
color: pink;
}

.topnav-right {
  float: right;
}


.price {
  font-weight: bold;
  font-size:16px;
}

i{
  font-size : 15px;
}

.btn {
  padding:0.5em 0.5em;
  border-radius: 6px;
  color: violet;
  background-color:#f7ddf7;
  font-size:10px;
  border:1px;
  cursor:pointer;

}
.card-text{
  font-size: 15px;
  font-display: auto;
}



/* registration & sign in css -------------------------------------------- */

.main div {
  font-size:small;
  color:violet;
}

.main1 div {
  font-size:small;
  color:violet;
}

 body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

.main1 {
  font-family: 'Ubuntu', sans-serif;
  background-color: #FFFFFF;
  width: 500px;
  height: 650px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.main {
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}


.login{
    padding-top: 35px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.sign{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.main .forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

.main a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}
    /* -------------------------------------------- */
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:600px; 
      height:550px
    }
      .text-block {
        position: absolute;
        background-color: pink;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        top: 30%;
        left: 70%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
    
      }

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }

@media screen and (max-height: 450px) {
.sidenav3 {padding-top: 15px;}
.sidenav3 a {font-size: 18px;}
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}
@media screen and (max-width:320px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
}
@media screen and (min-width:320px) and (max-width:640px) {
  /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
}


/* code that is here, until the first @media block, will apply to any screen size */
#somethingorother {
  width: 800px ;
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #somethingorother {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #somethingorother {
    width: 480px ;
  }
}

.top{
  display: flex;
  height: 600px;
}
